#map {
    height: calc(100vh - 10rem);
    width: 100%;
}

.warning {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    cursor:default;
}

.appname {
    font-family:Iceland, sans-serif;
    font-size:32px;
    cursor:default;
    margin-left:30px;
}

.directions {
    max-height: calc(100vh - 10rem);
    overflow-y: scroll;
    overflow-x: hidden;
}